.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;

  /* used for chat cards */
  .rt-Card:where(.rt-variant-classic) {
    &:hover {
      background-color: var(--accent-6);
      cursor: pointer;
    }
  }

  .rt-AvatarRoot {
    border: 2px solid var(--accent-6);
  }

  &.dark {
    & .accent-background {
      background: var(--accent-1);
    }
  }
}
